.button {
    background: #333;
    color: #fff;
    border: none;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .button:hover {
    background: #555;
  }
  
  .button:nth-child(4n) {
    background: #f76c6c;
  }
  
  .button:nth-child(4n):hover {
    background: #f74141;
  }
  